.preloader
{
    position: fixed;
    left: 0; top: 0;
    z-index: 999;
    width: 100%; max-width: 100%;
    height: 100%; min-height: 100%;
    background-color: #fff;

    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    visibility: visible;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader__done
{
    visibility: hidden;
    opacity: 0;    
}

.preloader__wrapper
{
  width: 200px; height: 200px;
  position: relative;
  transition: all 0.5s ease;
  -webkit-animation: spinLoader 3s infinite ease-in-out;
  -o-animation: spinLoader 3s infinite ease-in-out;
  -moz-animation: spinLoader 3s infinite ease-in-out;
  -ms-animation: spinLoader 3s infinite ease-in-out;
  animation: spinLoader 3s infinite ease-in-out;
}
.loader
{
  position: absolute; 
  width: 75%; height: 71%;
}
.loader1
{
  top: 0; left: 0;
  border: 30px solid #FFAB00;
  border-right: none;
  -webkit-animation: loader1Translate 1.5s infinite alternate ease-in-out;
  -o-animation: loader1Translate 1.5s infinite alternate ease-in-out;
  -moz-animation: loader1Translate 1.5s infinite alternate ease-in-out;
  -ms-animation: loader1Translate 1.5s infinite alternate ease-in-out;
  animation: loader1Translate 1.5s infinite alternate ease-in-out;
}
.loader2
{
  right: 0; bottom: 0;
  border: 30px solid #334483;
  border-left: none;
  -webkit-animation: loader2Translate 1.5s infinite alternate ease-in-out;
  -o-animation: loader2Translate 1.5s infinite alternate ease-in-out;
  -moz-animation: loader2Translate 1.5s infinite alternate ease-in-out;
  -ms-animation: loader2Translate 1.5s infinite alternate ease-in-out;
  animation: loader2Translate 1.5s infinite alternate ease-in-out;
}

@-webkit-keyframes spinLoader
{
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}
@-o-keyframes spinLoader
{
  from {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinLoader
{
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spinLoader
{
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinLoader
{
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader1Translate
{
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

}
@-o-keyframes loader1Translate
{
  0% {
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@-moz-keyframes loader1Translate
{
  0% {
    -moz-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@-ms-keyframes loader1Translate
{
  0% {
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@keyframes loader1Translate
{
  0% {
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@-webkit-keyframes loader2Translate
{
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }

}
@-o-keyframes loader2Translate
{
  0% {
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -o-transform: translateX(50%);
    transform: translateX(50%);
  }
}
@-moz-keyframes loader2Translate
{
  0% {
    -moz-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(50%);
    transform: translateX(50%);
  }
}
@-ms-keyframes loader2Translate
{
  0% {
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}
@keyframes loader2Translate
{
  0% {
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(50%);
    -o-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}

@media screen and (max-width:1400px) {
  .preloader__wrapper
  {
    width: 180px; height: 180px;    
  }
  .loader {border-width: 27.2px;}
}
@media screen and (max-width:1200px) {
  .preloader__wrapper
  {
    width: 150px; height: 150px;    
  }
  .loader {border-width: 22.7px;}
}
@media screen and (max-width:992px) {
  .preloader__wrapper
  {
    width: 120px; height: 120px;    
  }
  .loader {border-width: 18.18px;}   
}
@media screen and (max-width:768px) {
  .preloader__wrapper
  {
    width: 100px; height: 100px;    
  }
  .loader {border-width: 15.15px;}    
}
@media screen and (max-width:576px) {
  .preloader__wrapper
  {
    width: 80px; height: 80px;    
  }
  .loader {border-width: 12.12px;}   
}