@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600;700;800&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap');
/* font-family: 'Exo 2', sans-serif;
font-family: 'Raleway', sans-serif; */

/* ---------------  --------------- */
/* _______________  _______________ */

/* ------------------------------  ------------------------------ */

/* ______________________________  ______________________________ */

/* --------------- Обнуление --------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

html,
body {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -999;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}
/* _______________ Обнуление _______________ */

.container {
    max-width: 1216px;
    margin: auto;
}

body {
    font-family: 'Raleway', sans-serif;  
    font-size: 16px;

}

:root {
    --primary-color: #32303E;
    --span-color: #FFAB00;
    --hover-color: #3CCE42;
    --advantage-title-color: #334483;
}

/* ------------------------------ Header ------------------------------ */

.header {
    padding: 25px 0px;
    background-color: #fff;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company {
    display: flex;
    align-items: center;
}
.company *:nth-child(1){
    margin-right: 19px;
}
.company *:nth-child(2){
    margin-right: 17px;
}

.contacts {
    display: flex;
    align-items: center;
}

.contacts a:last-of-type {
    margin-left: 20px;
}

.description {
    font-weight: 500;
    font-size: 11px;
    color: #808080;
    line-height: 140%;
}

.delivery {
    font-weight: 600;
    color: var(--primary-color);
    line-height: 140%;
    border-bottom: 2px dashed #808080;
}

.phone {
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    color: var(--primary-color);
    background-color: #F9F9F9;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);
    padding: 9px 28px;
    transition: all 0.5s ease;
}
.phone:hover {
    background-color: #000;
    color: #fff;
}

.mail {
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    color: var(--primary-color);
    background-color: #F9F9F9;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);
    padding: 9px 23px;
    transition: all 0.5s ease;
}
.mail:hover {
    background-color: #000;
    color: #fff;
}

/* ______________________________ Header ______________________________ */

.main {
    position: relative;
    z-index: -3;
}

/* ------------------------------ Main ------------------------------ */


/* --------------- Promotion --------------- */
.promotion {
    /* Фоновый цвет с градиентом под секцию */
    background: linear-gradient(to bottom, rgba(67,61,89,1) 0%, rgba(3,28,79,1) 100%);

    /* Блок станет содержащим блоком для абсолютно позиционированных
    дочерних элементов(псевдоэлемента after). Относительно него будет рассчиваться 
    явное смещение */
    position: relative;

    /* Чтобы изображение на фоне было поверх этой секции,
    необходимо сместить ее глубже по оси Z */
    z-index: 1;
    
    overflow: hidden;

}
.promotion::after {
    content: " ";
    /* Псевдоэлемент будет представлять из себя фоновое изображение, 
    которое расположено над фоновым цветом */
    background-image: url(../img/png/promobg.png);
    /* Пропорциональное увеличение фона под размеры родителя */
    background-size: cover;
    /* Прозрачность изображения */
    opacity: 0.6;
    /* Блок полностью удаляется с нормального потока документа и не
    влияет на свое окружение. Это свойства позволяет задавать явное
    смещение относительно содержащего его блока*/
    position: absolute;
    /* Блок растягивается на всю ширину родителя явными смещениями */
    top: 0; left: 0; bottom: 0; right: 0;

    /* Для того, чтобы контент в секции promotion не перекрывался
    псевдоэлементом after, смещаем его глубже по оси Z */
    z-index: -1;
}

.promotion__wrapper {
    position: relative;
    padding-top: 140px;
    padding-bottom: 133px;
}





.promotion__slider-container {
    position: absolute;
    top: 0;
    right: -349px;
    max-width: 890px;
    height: 660px;
    overflow: hidden;
}

.promotion__slider-track {
    height: 660px; width: calc(890px * 2);
    display: flex;
    align-items: center;
    position: relative;
    right: 0;
    transition: all ease 1s;
}

.promotion__btn {
    border: none;
    background: none;
    position: absolute;
    cursor: pointer;
    z-index: 99;
}
.promotion__btn path {
    fill: #fff;
}
.promotion__slide-back {
    transform: scaleX(-1);
    top: 607px; right: 636px;
}
.promotion__slide-next {
    top: 607px; right: 563px;
}





.promotion__offer {
    max-width: 673px;
}

.offer__title {
    font-family: 'Exo 2', sans-serif;
    font-size: 55px;
    font-weight: 600;
    line-height: 110%;
    color: #fff;
    z-index: 5;
    margin-bottom: 30px;
}
.offer__title span {
    color: var(--span-color);
}

.offer__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 63px;
    background-image: url(../img/svg/promo-arrow.svg);
    background-repeat: no-repeat;
    background-position: bottom left 230px;
}

.offer__info-1 {
    padding-top: 14px;
    padding-bottom: 16px;
}
.offer__info-1 p {
    font-weight: 500px;
    font-size: 19px;
    color: #fff;
}
.offer__info-1 p i {
    font-weight: 600;
    font-style: italic;
}
.offer__info-1 span {
    font-size: 16px;
    font-weight: 500;
    color: var(--span-color);
    border: 2px solid var(--span-color);
    border-radius: 5px;
    padding: 14px 32px;
}
.offer__info-1 span strong {
    font-weight: 800;
}


.offer__info-2 {
    margin-top: 9px;
}
.offer__info-2 span {
    font-weight: 500;
    font-size: 19px;
    color: #fff;
    margin-right: 24px;
}
.offer__info-2 span i {
    font-weight: 600;
    font-style: italic;
}

.button {
    background-color: var(--span-color);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.24);
    border: none;
    border-radius: 5px;
    padding: 14px 39px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button:hover {
    background-color: var(--hover-color);
}



/* _______________ Promotion _______________ */


/* --------------- Advantage --------------- */

.advantage {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 110px;
}

.advantage__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advantage__block {
    padding-top: 13px; padding-bottom: 20px;
    padding-left: 87px; padding-right: 21px;

    border-radius: 10px;

    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);

    max-width: 392px; min-height: 160px;

    background-image: url(../img/svg/durabillity.svg);
    background-repeat: no-repeat;
    background-position: top 22px left 22px;
    
    transition: all 0.5s ease;
}
.fire-safety {
    background-image: url(../img/svg/firesafety.svg)
}
.waterproof {
    background-image: url(../img/svg/waterproof.svg)
}

.advantage__block:hover  {
    background-color: var(--primary-color);
}
.advantage__block:hover .advantage__title {
    color: var(--span-color);
}
.advantage__block:hover .advantage__info {
    color: #fff;
}

.advantage__title {
    border-bottom: 2px dashed #808080;
    color: var(--advantage-title-color);
    display: inline-block;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 20px;

    transition: all 0.5s ease;
}


.advantage__info {
    font-size: 19px;
    font-weight: 400;
    line-height: 130%;
    color: var(--primary-color);

    transition: all 0.5s ease;
}

/* _______________ Advantage _______________ */

/* --------------- Using --------------- */

.using {
    padding-bottom: 110px;
}

.using__wrapper {
    display: flex;
    justify-content: space-between;
}

.using__offer {
    max-width: 341px;
}

.using__cards {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 20px;
    margin-left: 20px;
    transition: all 0.5s ease;
}
.card:hover {
    transform: scale(1.1);
    z-index: 999;
}

.using__title {
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.using__info {
    font-size: 19px;
    font-weight: 500;
    line-height: 130%;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.using__info span {
    font-weight: 700;
    color: var(--span-color);
}

.using__btn {
    padding: 14px 63px;
}

.card {
    max-width: 392px;
    min-height: 247px;

    background-color: #fff;

    padding-top: 10px; padding-bottom: 8px;
    padding-left: 10px; padding-right: 10px;

    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);

    border-radius: 5px;
}

.card__info {
    margin-top: 7px;
}
.card__info span {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
}

.card__image {
    overflow: hidden;
    border-radius: 5px;
}

.card__img {
    object-fit: cover;
    border-radius: 5px;
}

/* _______________ Using _______________ */

/* --------------- Suppliers --------------- */

.suppliers {
    padding: 60px 0px;
    background-color: #F9F9F9;
}

.suppliers__title {
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    color: var(--primary-color);
}
.suppliers__title span {
    color: var(--span-color);
}

.suppliers__companies {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* _______________ Suppliers _______________ */


/* --------------- Catalog --------------- */

.catalog {
    padding-top: 110px;
    padding-bottom: 65px;
}

.catalog__title {
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    color: var(--primary-color);
    text-align: center;
    margin: auto;
    max-width: 740px;
    margin-bottom: 45px;
}
.catalog__title span {
    color: var(--span-color);
}

.catalog__name {
    font-style: italic;
    font-size: 19px;
    font-weight: 600;
    line-height: 130%;
    color: #808080;
    margin-bottom: 10px;
}

.catalog__img {
    border-radius: 5px;
}

.catalog__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__card {
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

.catalog__card:hover {
    transform: scale(1.05);
    z-index: 999;
}

.catalog__btn {
    padding: 14px 37px;
    display: block;
    margin: auto;
    margin-top: 15px;
}


.catalog__size {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.catalog__area {
    margin-bottom: 50px;
}

.catalog__area_title {
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    color: var(--primary-color);    
    margin-bottom: 30px;
}

.catalog__area_list {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    column-count: 2;
}

.catalog__area_item {
    font-size: 25px;
    font-weight: 500;
    line-height: 130%;
    color: var(--primary-color);   
    margin-bottom: 25px;
}
.catalog__area_item::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    width: 7px; height: 7px;
    background-color: var(--span-color);
    border-radius: 50%;
}

.catalog__thick {
    display: flex;
    position: relative;
}
.catalog__thick_title {
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    color: var(--primary-color);    
    margin-bottom: 30px;    
}
.catalog__thick_item {
    font-size: 25px;
    font-weight: 500;
    line-height: 130%;
    color: var(--primary-color); 
}
.catalog__thick_item::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    width: 7px; height: 7px;
    background-color: var(--span-color);
    border-radius: 50%;
}

.catalog__thick_img {
    position: absolute;
    top: 11px;
    left: 186px;
    transform: scaleX(-1);
}
/* _______________ Catalog _______________ */

/* --------------- Selection --------------- */

.selection {
    padding-top: 74px;
    height: 790px;
    position: relative;
    z-index: -4;
}

.selection__wrapper {
    position: relative;
    display: flex;
}

.selection__image {
    position: absolute;
    top: 0;
    right: 630px;
    transform: scaleX(-1);
}
.selection__img {
    max-width: 930px;
    min-height: 716px;
}

.selection__offer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -360px;
    width: 990px;
    min-height: 716px;
    z-index: -3;
}

.selection__offer_helps {
    position: relative;
    max-width: 989px;
    min-height: 442px;
    background: rgb(73,83,158);
    background: linear-gradient(140deg, rgba(73,83,158,1) 0%, rgba(11,29,69,1) 100%);     
    z-index: -1;
}
.selection__offer_helps::after {
    content: "";
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-image: url(../img/png/promobg.png);
    background-size: cover;
    opacity: 0.4;
    z-index: -2;
}

.selection__offer_contacts {
    position: relative;
    max-width: 989px;
    min-height: 274px;
    background: rgb(251,177,79);
    background: linear-gradient(140deg, rgba(251,177,79,1) 0%, rgba(217,98,0,1) 100%);
    z-index: -1;
}
.selection__offer_contacts::after {
    content: "";
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-image: url(../img/png/promobg.png);
    background-size: cover;
    opacity: 0.4;
    z-index: -2;
}

.selection__offer_helps-text {
    z-index: 1;
    max-width: 445px;
    margin-top: 60px;
    margin-left: 39px;
}

.selection__offer_helps-title {
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    line-height: 120%;
    margin-bottom: 15px;   
}

.selection__offer_helps-description {
    font-weight: 500;
    font-size: 19px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 15px;
}

.selection__offer_helps-list {
    display: flex;
    flex-direction: column;
}
.selection__offer_helps-item {
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;
    color: #fff;
}
.selection__offer_helps-item::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    width: 7px; height: 7px;
    background-color: var(--span-color);
    border-radius: 50%;
}
.selection__offer_helps-item:not(:last-child) {
    margin-bottom: 15px;
}

.selection__offer_helps-img {
    position: absolute;
    top: -74px;
    right: -129px;
    max-width: 446px; min-height: 328px;
}

.selection__offer_contacts-wrapper {
    z-index: 1;
    margin-top: 40px;
    margin-left: 39px;
    max-width: 509px;
}

.selection__offer_contacts-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 20px;
}

.form {
    display: flex;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.input {
    max-width: 220px;
    min-height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 17px;
    font-weight: 500;
    font-size: 16px;
}
.input:first-child {
    margin-bottom: 10px;
}

.form__actions {
    display: flex;
    flex-direction: column;
}

.form__btn {
    padding: 15px 40px;
    max-width: 220px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    background-color: var(--primary-color);
    transition: all 0.5s ease;
    cursor: pointer;
}
.form__btn:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
}

.form__pers-data {
    margin-top: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #fff;
    transition: all 0.5s ease;
}
.form__pers-data i {
    font-style: italic;
    color: var(--primary-color);
}

/* _______________ Selection _______________ */


/* --------------- Example --------------- */

.example {
    padding-top: 110px;
    padding-bottom: 110px;
}

.example__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.example__title {
    font-family: "Exo 2", sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    color: var(--primary-color);
    text-align: center;
}

.example__advantages {
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.example__advantage_card {
    background-color: #F9F9F9;
    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);
    border-radius: 10px;
    max-width: 392px; min-height: 140px;
    padding: 20px 30px;
    padding-right: 54px;
}
.example__advantage_card-text {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 19px;
    line-height: 130%;
}
.example__advantage_card-text span {
    font-style: italic;
    font-weight: 600;
    color: var(--advantage-title-color)
}

.slider-container {
    margin-top: 40px;
    width: 1216px;
    height: 600px;
    overflow: hidden;
}

.slider-track {
    height: 600px; width: calc(1216px * 3);
    display: flex;
    align-items: center;
    position: relative;
    right: 0;
    transition: all ease 1s;
}

.slider-btn {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    z-index: 99;
}
.slide-back {
    left: -67px;
    top: 587px;
}
.slide-next {
    right: -67px;
    top: 587px;
}
.slide-back svg {
    transform: scaleX(-1);
}

/* _______________ Example _______________ */


/* --------------- Properties --------------- */

.properties {
    padding-bottom: 110px;
}

.properties__title {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;   
    color: var(--primary-color);
    text-align: center;
}

.properties__panel-wrapper {
    position: relative;
    min-height: 1000px;
}

.properties__panel-img {
    transform: scaleX(-1);
    position: absolute;
    top: 0;
}

.properties__panel-img:nth-child(1) {
    top: 37px;
    right: -655px;
}
.properties__panel-img:nth-child(2) {
    top: 31px;
    right: -669px;
}
.properties__panel-img:nth-child(3) {
    top: 39px;
    right: -621px;
}
.properties__panel-img:nth-child(4) {
    top: 52px;
    right: -561px;
}
.properties__panel-img:nth-child(5) {
    top: 31px;
    right: -638px;
}
.properties__panel-img:nth-child(6) {
    top: 24px;
    right: -641px;
}
.properties__panel-img:nth-child(7) {
    top: 1px;
    right: -733px;
}

.properties__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.properties__card {
    max-width: 392px;
    min-height: 165px;
    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);
    border-radius: 10px;
    background: #32303E;
    border: 3px solid var(--primary-color);
    padding-top: 20px; padding-bottom: 26px;
    padding-left: 20px; padding-right: 60px;
    display: flex;
    position: relative;
    transition: all 0.5s ease;
    margin-bottom: 20px;
}
.properties__card:hover {
    background-color: #fff;
}
.properties__card:hover .properties__card-title {
    color: var(--primary-color);
}
.properties__card:hover .properties__card-info {
    color: var(--primary-color); 
}
.properties__card:hover path {
    fill: var(--primary-color);
}

.properties__card svg {
    position: absolute;
    top: 25px;
    right: 25px;
}
.properties__card svg path {
    fill: #fff;
    transition: all 0.5s ease;
}

.properties__card-title  {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 15px;
    color: #fff;
}
.properties__card-info {
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;
    color: #fff;
}

.properties__text {
    display: flex;
    flex-direction: column;
}






.properties__details {
    position: absolute;
}

/* --- Окно 1 --- */

.properties__window {
    background-color: rgba(255, 255, 255, 0.678);
    max-width: 485px;
    min-height: 205px;
    border-radius: 10px;
    border: 2px solid var(--advantage-title-color);
    padding: 20px 27px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 82px;
    right: 261px;
    opacity: 0;
    display: none;
    cursor: pointer;
    z-index: 1000;
}
.properties__window_active {
    opacity: 1;
    display: block;
}

.properties__window-title {
    font-size: 25px;
    font-weight: 600;
    color: var(--advantage-title-color);
    line-height: 130%;
    border-bottom: 2px dashed #808080;
    margin-bottom: 11px;
    max-width: 317px;
}

.properties__window-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: var(--primary-color);
    margin-bottom: 10px;
    max-width: 424px;
}

.properties__window-list {
    column-count: 2;
}

.properties__window-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--primary-color);
}
.properties__window-item::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 7px; height: 7px;
    background-color: var(--span-color);
    border-radius: 50%;
    margin-right: 15px;
}


.properties__btn {
    position: relative;
    display: inline-block;
    width: 60px; height: 60px;
    background-color: var(--span-color);
    border-radius: 100%;
    top: 159px;
    right: -778px;
    transition: all 0.5s ease;
}

.properties__btn span {
    position: absolute;
    width: 26px; height: 2px;
    background-color: #000;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -13px;
    transition: all 0.5s ease;
}
.properties__btn span::after {
    content: "";
    position: absolute;
    width: 26px; height: 2px;
    background-color: #000;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -13px;
    transform: rotate(90deg);
    transition: all 0.5s ease;
}

.properties__btn_active {
    background-color: var(--hover-color);
}
.properties__btn_active span::after {
    transform: rotate(180deg) !important;
    background-color: #fff !important;
}
.properties__btn_active span {
    background-color: #fff !important;
}

/* ___ Окно 1 ___ */

/* --- Окно 2 --- */

.properties__window-2 {
    background-color: rgba(255, 255, 255, 0.678);
    max-width: 485px;
    min-height: 205px;
    border-radius: 10px;
    border: 2px solid var(--advantage-title-color);
    padding: 20px 27px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 174px;
    right: 503px;
    opacity: 0;
    display: none;
    cursor: pointer;
    z-index: 1000;
}
.properties__window-2_active {
    opacity: 1;
    display: block;
}

.properties__window-2-title {
    font-size: 25px;
    font-weight: 600;
    color: var(--advantage-title-color);
    line-height: 130%;
    border-bottom: 2px dashed #808080;
    margin-bottom: 11px;
    max-width: 147px;
}

.properties__window-2-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: var(--primary-color);
    margin-bottom: 10px;
    max-width: 424px;
}

.properties__btn-2 {
    position: relative;
    display: inline-block;
    width: 60px; height: 60px;
    background-color: var(--span-color);
    border-radius: 100%;
    top: 247px;
    right: -594px;
    z-index: 999;
    transition: all 0.5s ease;
}

.properties__btn-2 span {
    position: absolute;
    width: 26px; height: 2px;
    background-color: #000;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -13px;
    transition: all 0.5s ease;
}
.properties__btn-2 span::after {
    content: "";
    position: absolute;
    width: 26px; height: 2px;
    background-color: #000;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -13px;
    transform: rotate(90deg);
    transition: all 0.5s ease;
}


.properties__btn-2_active {
    background-color: var(--hover-color);
}
.properties__btn-2_active span::after {
    transform: rotate(180deg) !important;
    background-color: #fff !important;
}
.properties__btn-2_active span {
    background-color: #fff !important;
}

/* ___ Окно 2 ___ */

/* --- Окно 3 --- */
.properties__window-3 {
    background-color: rgba(255, 255, 255, 0.678);
    max-width: 485px;
    min-height: 205px;
    border-radius: 10px;
    border: 2px solid var(--advantage-title-color);
    padding: 20px 27px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 167px;
    right: 500px;
    opacity: 0;
    display: none;
    cursor: pointer;
    z-index: 1000;
}
.properties__window-3_active {
    opacity: 1;
    display: block;
}

.properties__window-3-title {
    font-size: 25px;
    font-weight: 600;
    color: var(--advantage-title-color);
    line-height: 130%;
    border-bottom: 2px dashed #808080;
    margin-bottom: 11px;
    max-width: 310px;
}

.properties__window-3-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: var(--primary-color);
    margin-bottom: 10px;
    max-width: 424px;
}

.properties__btn-3 {
    position: relative;
    display: inline-block;
    width: 60px; height: 60px;
    background-color: var(--span-color);
    border-radius: 100%;
    top: 379px;
    right: -383px;
    z-index: 999;
    transition: all 0.5s ease;
}

.properties__btn-3 span {
    position: absolute;
    width: 26px; height: 2px;
    background-color: #000;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -13px;
    transition: all 0.5s ease;
}
.properties__btn-3 span::after {
    content: "";
    position: absolute;
    width: 26px; height: 2px;
    background-color: #000;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -13px;
    transform: rotate(90deg);
    transition: all 0.5s ease;
}


.properties__btn-3_active {
    background-color: var(--hover-color);
}
.properties__btn-3_active span::after {
    transform: rotate(180deg) !important;
    background-color: #fff !important;
}
.properties__btn-3_active span {
    background-color: #fff !important;
}
/* ___ Окно 3 ___ */

/* --- Окно 4 --- */
.properties__window-4 {
    background-color: rgba(255, 255, 255, 0.678);
    max-width: 485px;
    min-height: 205px;
    border-radius: 10px;
    border: 2px solid var(--advantage-title-color);
    padding: 20px 27px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 275px;
    right: 730px;
    opacity: 0;
    display: none;
    cursor: pointer;
    z-index: 1000;
}
.properties__window-4_active {
    opacity: 1;
    display: block;
}

.properties__window-4-title {
    font-size: 25px;
    font-weight: 600;
    color: var(--advantage-title-color);
    line-height: 130%;
    border-bottom: 2px dashed #808080;
    margin-bottom: 11px;
    max-width: 193px;
}

.properties__window-4-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: var(--primary-color);
    margin-bottom: 10px;
    max-width: 424px;
}

.properties__btn-4 {
    position: relative;
    display: inline-block;
    width: 60px; height: 60px;
    background-color: var(--span-color);
    border-radius: 100%;
    top: 513px;
    right: -117px;
    z-index: 999;
    transition: all 0.5s ease;
}

.properties__btn-4 span {
    position: absolute;
    width: 26px; height: 2px;
    background-color: #000;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -13px;
    transition: all 0.5s ease;
}
.properties__btn-4 span::after {
    content: "";
    position: absolute;
    width: 26px; height: 2px;
    background-color: #000;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -13px;
    transform: rotate(90deg);
    transition: all 0.5s ease;
}


.properties__btn-4_active {
    background-color: var(--hover-color);
}
.properties__btn-4_active span::after {
    transform: rotate(180deg) !important;
    background-color: #fff !important;
}
.properties__btn-4_active span {
    background-color: #fff !important;
}
/* ___ Окно 4 ___ */















/* _______________ Properties _______________ */

/* --------------- Program --------------- */

.program {
    padding-bottom: 60px;
}

.program__wrapper {
    display: flex;
    justify-content: space-between;
}

.program__offer {
    max-width: 495px;
    display: flex;
    flex-direction: column;
}

.program__offer-title {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 110%;   
    color: var(--primary-color);  
    margin-bottom: 20px;
}

.program__offer-text {
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;
    color: var(--primary-color);  
}
.program__offer-text i {
    color: var(--span-color);
    font-style: italic;
    font-weight: 600;
}

.program__offer p:not(:last-of-type) {
    margin-bottom: 20px;
}

.program__pluses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.9;
}

.program__pluses-section {
    padding-top: 20px; padding-bottom: 20px;
    padding-left: 40px; padding-right: 40px;
    border: 2px solid var(--advantage-title-color);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);
}

.program__pluses-text1 {
    margin-bottom: 20px;
}

.program__pluses-title {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;  
    color: var(--primary-color);   
    margin-bottom: 12px;
}

.program__pluses-text {
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;
}


/* _______________ Program _______________ */


/* --------------- Details --------------- */

.details {
    padding: 31px 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #32303E;
    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);
}

.details__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details__description {
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 530px;
}

.details__contacts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 0.9;
}

.details__contact {
    border-bottom: 2px dashed #fff;
    transition: all 0.5s ease;
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: var(--span-color);
}

.details__contacts a:not(:last-of-type) {
    margin-right: 50px;
}

.details__contact:hover {
    color: var(--hover-color);
}


/* _______________ Details _______________ */

/* --------------- Partners --------------- */

.partners {
    padding-top: 60px;
    padding-bottom: 110px;
}

.partners__wrapper {
    display: flex;
    flex-direction: column;
}

.partners__line:not(:last-child) {
    margin-bottom: 20px;
}

.partners__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
}

/* _______________ Partners _______________ */

/* --------------- Address --------------- */

.address {
    padding-bottom: 70px;
}

.address__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.address__map {
    position: absolute;
    top: 0;
    left: -348px;  
}

.address__text {
    display: flex;
    flex-direction: column;
    margin-right: 115px;
}

.address__text-title {
    font-family: 'Exo 2';
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: var(--primary-color);
    margin-bottom: 25px;
}

.address__text-call {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.address__text-call span {
    color: #808080;
    font-style: italic;
    font-weight: 500;
    font-size: 19px;
    line-height: 130%;
}

.address__text-contact {
    border-bottom: 2px dashed var(--advantage-title-color);
    transition: all 0.5s ease;
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 35px;
    line-height: 140%;
    color: var(--span-color);
    margin-bottom: 10px;
    max-width: 297px;
}
.address__text-mail {
    font-size: 30px;
    max-width: 263px;
}
.address__text-contact:hover {
    color: var(--hover-color); 
}

.address__text-address_section:not(:last-child) {
    margin-bottom: 30px;
}

.address__text-address_section span {
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: var(--primary-color);
    display: inline-block;
    margin-bottom: 10px;
}
.address__text-address_section p {
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;
    color: var(--primary-color);
}

.address__text-address {
    margin-bottom: 45px;
}

/* _______________ Address _______________ */

/* ______________________________ Main ______________________________ */

/* ------------------------------ Footer ------------------------------ */

.footer {
    padding: 44px 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #32303E;
    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__company {
    display: flex;
    align-items: center;
}

.footer__company-span {
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;
    color: #fff;
    margin-left: 20px;
}

.footer__credits {
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;
    color: var(--span-color);
}

.footer__btn {
    padding: 12px 30px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    cursor: pointer;
    transition: all 0.5s ease;
}
.footer__btn:hover {
    background-color: var(--primary-color);
    border: 2px solid #fff;
    color: var(--hover-color);
}

.footer__btn i {
    margin-left: 10px;
    color: var(--span-color);
    transition: all 0.5s ease;
}
.footer__btn:hover i {
    color: var(--hover-color);
}

/* ______________________________ Footer ______________________________ */